## Operations with INPUT

In [4]:
nam = input('Who are you? ')
print('Welcome, ', nam + '!')
doing = input("How're you doing? ")
if doing == "I'm good": print('Awesome, man!')
else: print("Slacker!")

Who are you? Mr. Watson
Welcome,  Mr. Watson!
How're you doing? Not really bad
Slacker!

In [3]:
inp = input('Europe floor? ')
usf = int(inp) + 1
print("US floor:", usf)

Europe floor? 2
US floor: 3

## TRY / EXCEPT Operations
It is used to avoid the traceback during the script execution in case of an expected error.

(Also check `TRY/EXCEPT/ESLE/FINALLY` usage. `Except` is also used in hunting for `ExceptionErrors` when you specify the name of error in the Exception line).

In [4]:
rawstr = input("Enter a number: ")
try:
    ival = int(rawstr)
except:
    ival = -1

if ival > 0:
    print("Nice work!")
else:
    print('Dear,', rawstr, "is not a number. Relax and try again.")

Enter a number: 4
Nice work!

## Minimal CHARACTER

In [5]:
a = min(input())
print(a)

df34
3

## ROUND Operation

In [1]:
print(round(100/9))
print(type(round(100/9)))
print(round(100/9, 2))
print(type(round(100/9, 2)))

11
<class 'int'>
11.11
<class 'float'>

## Example of INPUT and CONDITIONAL usage - simple language translator

In [7]:
# Greeting in your language (a piece)

name = input("What's your name? ")
country = input("What country are you from (print just the name of the country)? ")
def greet(country):
    if country == "Spain":
        return "Hola,"
    else:
        return "Будь верен идее коммунизма,"
print(greet(country), name + "!")

What's your name? Jose
What country are you from (print just the name of the country)? Spain
Hola, Jose!

# LOOPS

### Indefinite Loops - WHILE (2:20)

In [29]:
#break - finishes the loop immediately

while True:
    line = input('< ')
    if line == 'done':
        break
    print(line)
print('Done!')

< d
d
< done
Done!

### BREAK and CONTINUE operations

Операторы continue, break и else работают с циклами for и while. (Сбер-Университет)

In [15]:
# 'continue' returns to the head of the loop
# 'break' stops the loop execution 

while True:
    line = input('< ')
    if line[0] == '#':    # each if is executed one after another (unlike if - elif - else statement)
        continue          # 'continue' prevents checking the 2nd if in case of # in the beginning of line
    if line == 'done':
        break
    print(line)
print('Done!')

< i'm printed
i'm printed
< # and i'm not
< done
Done!

## Definite Loops - FOR (2:25)

In [7]:
for i in [5, 4, 3, 2, 1]:
    print(i, end=" ")
print("\nWe're done")

5 4 3 2 1
We're done

In [41]:
# Python doesn't understand plural or sing form so the 'i' means the iterable value in the string
# 'i' could be any word I like ('friend' for ex)

friends = ['Vladimir', 'Joseph', 'Iron Felix']
for i in friends:
    print('Happy October Revolution Day,', i + '!')
print('Hooray! ' * 2 + 'HOORAY!!!')

Happy October Revolution Day, Vladimir!
Happy October Revolution Day, Joseph!
Happy October Revolution Day, Iron Felix!
Hooray! Hooray! HOORAY!!!

### Finding the LARGEST number in a row

In [5]:
numbers = [45, 75, 2, -2, 3, 94, 5, 34]
# We're going to compare each number with the initially "largest" (i.e. first) number 
# and change the value if the next number is bigger 
largest_number = numbers[0]
for i in numbers:
    if i > largest_number:
        largest_number = i
print('The largest number is:', largest_number)

The largest number is: 94

### Finding the SMALLEST number in a row (in my_library)

In [6]:
numbers = [45, 75, 2, -2, 3, 94, 5, 34]
smallest_number = numbers[0]
for i in numbers:
    if i < smallest_number:
        smallest_number = i
print('The smallest number is:', smallest_number)

The smallest number is: -2

### Finding the smallest number in an explicit way, two examples

In [9]:
numbers = [45, 75, 2, -2, 3, 94, 5, 34]

count = 0
smallest_number = numbers[0]
print('Before:', smallest_number)
for i in numbers:
    count = count + 1
    if i < smallest_number:
        smallest_number = i
    print(str(count) + ')', i, smallest_number)
print('After: the smallest number is', smallest_number)

Before: 45
1) 45 45
2) 75 45
3) 2 2
4) -2 -2
5) 3 -2
6) 94 -2
7) 5 -2
8) 34 -2
After: the smallest number is -2

In [11]:
numbers = [45, 75, 2, -2, 3, 94, 5, 34]

smallest_number = None
print('Before:', smallest_number)
for i in numbers:
    if smallest_number is None:
        smallest_number = i
    elif i < smallest_number:
        smallest_number = i
    print(i, smallest_number)
print('After: the smallest number is', smallest_number)

Before: None
45 45
75 45
2 2
-2 -2
3 -2
94 -2
5 -2
34 -2
After: the smallest number is -2

### Counting in a Loop

In [16]:
# counting how many times we execute the loop

list = [45, 75, 2, -2, 3, 94, 5, 34]
zork = 0    # count
print('Before', zork)
for i in list:
    zork = zork + 1
    print(str(zork) + ')', i)
print('After', zork)

Before 0
1) 45
2) 75
3) 2
4) -2
5) 3
6) 94
7) 5
8) 34
After 8

### Summing in a Loop

In [17]:
# we use variable zork to start the calculation (the sum of i in list)

list = [45, 75, 2, -2, 3, 94, 5, 34]
sum = 0
print('Before:', sum)
for i in list:
    sum = sum + i
    print(sum, i)
print('After:', 'sum =', sum)

Before: 0
45 45
120 75
122 2
120 -2
123 3
217 94
222 5
256 34
After: sum = 256

### Finding the Average in a Loop

In [18]:
list = [45, 75, 2, -2, 3, 94, 5, 34]
count = 0
sum = 0
print('Before:', count, sum)
for i in list:
    count = count + 1
    sum = sum + i
    print(str(count) + ')', i)
print('After:', 'sum =', str(sum) + ',', 'average =', sum/count)

Before: 0 0
1) 45
2) 75
3) 2
4) -2
5) 3
6) 94
7) 5
8) 34
After: sum = 256, average = 32.0

### Filtering in a Loop

In [19]:
list = [-45, 75, 2, -2, 3, 94, -5, 34, -20]
new_list = []
for i in list:
    if i > 20:
        new_list.append(i)
print(new_list)

for i in list:
    if i <= 20:
        list.remove(i)
print(list, '???')

list = [-45, 75, 2, -2, 3, 94, -5, 34, -20]
new_list = []
count = 0
for i in list:
    if i <= 20:
        count = count + 1
        list.remove(i)
        print(str(count) + ')', i)
print(list)

[75, 94, 34]
[75, -2, 94, 34] ???
1) -45
2) 2
3) 3
4) -5
5) -20
[75, -2, 94, 34]